<!DOCTYPE html>

<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity=
"sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	<style>
		/* Content of modal div is center aligned */
		.modal {
			text-align: center;
		}
	</style>
</head>
<body>
<!--	<img src="static/image/No.001 이상해씨.png" data-toggle="modal"-->
<!--		data-target="#exampleModal">-->
<div style="text-align : center">
	<img  style="display:block; margin: 0 auto;" src="static/20220610_173739.jpg">
	<button type="button"   class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
	  주서현님은 어떤 포켓몬을 뽑을까?
	</button>
</div>

	<div class="modal fade" id="exampleModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- w-100 class so that header
				div covers 100% width of parent div -->
					<h5 class="modal-title w-100"
						id="exampleModalLabel">
						{{form}}
					</h5>
					<button type="button" class="close"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							×
						</span>
					</button>
				</div>
				<!--Modal body with image-->
				<div class="modal-body">
					<img src="/static/image/{{form}}" />
				</div>
				<div class="modal-footer">
					<button onClick="window.location.reload(true)" type="button" class="btn btn-danger"
						data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<script src=
"https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
	</script>
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity=
"sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous">
	</script>
	<script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity=
"sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous">
	</script>
</body>
</html>
